<?xml version="1.0"?>
<launch>
  <arg
    name="model" />
  <arg name="robot_description" default="$(find xacro)/xacro '$(find jumpbot_description)/urdf/jumpbot_v9.urdf.xacro'" />
  <param name="robot_description" command="$(arg robot_description)" />
  <param name="use_gui" value="True"/>
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jumpbot_description)/rviz/xacrodisplay.rviz"/>
</launch>


