<launch>

  
  <rosparam file="$(find jumpbot_control)/config/jumpbot_servo_control.yaml" command="load"/>

  
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/jumpbot" args="joint_state_controller
					  R_arm1_joint_position_controller 
            R_arm2_joint_position_controller 
            R_arm3_joint_position_controller 
            L_arm1_joint_position_controller 
            L_arm2_joint_position_controller 
            L_arm3_joint_position_controller"/>

  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/jumpbot_servo/joint_states" />
  </node>

  <include file="$(find jumpbot_control)/launch/arm_joint_position.launch" />


</launch>
