<?xml version="1.0" ?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="jumpbot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find jumpbot_description)/urdf/jumpbot_v9_shapes.urdf" />
  <xacro:include filename="$(find jumpbot_description)/urdf/jumpbot_v9_arm.urdf" />
  <xacro:include filename="$(find jumpbot_description)/urdf/jumpbot_v9_leg.urdf" />
  <xacro:include filename="$(find jumpbot_description)/urdf/jumpbot_v9_joint.urdf" />
  <xacro:include filename="$(find jumpbot_description)/urdf/jumpbot_v9.gazebo" />
  <xacro:include filename="$(find jumpbot_description)/urdf/jumpbot_v9.transmission" />
  <xacro:include filename="$(find jumpbot_description)/urdf/materials.xacro" />
  

</robot>