<?xml version="1.0" ?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="jumpbot" xmlns:xacro="http://ros.org/wiki/xacro">

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0809392415875696 -2.22044604925031E-16 -0.0268118589394716"
        rpy="0 0 0" />
      <mass
        value="0.217189619120501" />
      <inertia
        ixx="6.93999698841076E-05"
        ixy="8.1353242860039E-21"
        ixz="4.23516473926473E-21"
        iyy="0.000141175353883686"
        iyz="-2.15898040243286E-20"
        izz="0.00016267826093993" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jumpbot_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jumpbot_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="L_baselink">
    <inertial>
      <origin
        xyz="-0.0534108228422897 -0.0546394924013222 0.0330499597556232"
        rpy="0 0 0" />
      <mass
        value="0.573131875857881" />
      <inertia
        ixx="0.00103570883331117"
        ixy="5.37563404056151E-07"
        ixz="6.83332900437198E-07"
        iyy="0.000616026636928765"
        iyz="2.40896372789806E-06"
        izz="0.000613586353749996" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jumpbot_description/meshes/L_baselink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jumpbot_description/meshes/L_baselink.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="L_cam">
    <inertial>
      <origin
        xyz="-0.0123671557639675 -0.00321457691695015 -0.006663149888259"
        rpy="0 0 0" />
      <mass
        value="0.021837132265196" />
      <inertia
        ixx="6.8051154353684E-06"
        ixy="3.75833765675052E-06"
        ixz="4.41665363070508E-08"
        iyy="9.48114110352577E-06"
        iyz="1.13544978473268E-08"
        izz="1.56699522980087E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jumpbot_description/meshes/L_cam.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jumpbot_description/meshes/L_cam.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="L_motor">
    <inertial>
      <origin
        xyz="0.00416102302892774 0.00418800591150774 -0.0797766145975524"
        rpy="0 0 0" />
      <mass
        value="0.185473445257405" />
      <inertia
        ixx="9.30910309029802E-05"
        ixy="-5.27298058667433E-08"
        ixz="5.0129853674806E-07"
        iyy="9.30903492346865E-05"
        iyz="5.04549293671954E-07"
        izz="2.87226394735975E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jumpbot_description/meshes/L_motor.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jumpbot_description/meshes/L_motor.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="L_wheel">
    <inertial>
      <origin
        xyz="4.39648317751562E-14 -2.84675061301698E-13 -0.0109262297782676"
        rpy="0 0 0" />
      <mass
        value="0.263999173137418" />
      <inertia
        ixx="0.000320342641420399"
        ixy="1.39363385881988E-19"
        ixz="-6.94397950758325E-16"
        iyy="0.000320342641420399"
        iyz="6.08514136674974E-15"
        izz="0.000616988568732304" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jumpbot_description/meshes/L_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jumpbot_description/meshes/L_wheel.STL" />
      </geometry>
    </collision>
  </link>
  
  <link
    name="R_baselink">
    <inertial>
      <origin
        xyz="0.0534111012007815 -0.0546259162379965 0.0330411958042715"
        rpy="0 0 0" />
      <mass
        value="0.573137658525037" />
      <inertia
        ixx="0.00103579248532628"
        ixy="-5.37742467359377E-07"
        ixz="-6.83219980106792E-07"
        iyy="0.000615652641603578"
        iyz="2.20570874301773E-06"
        izz="0.000614044097474171" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jumpbot_description/meshes/R_baselink.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jumpbot_description/meshes/R_baselink.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="R_cam">
    <inertial>
      <origin
        xyz="-0.0123671557639661 -0.00321457691694993 -0.00633667590842713"
        rpy="0 0 0" />
      <mass
        value="0.0218371322651959" />
      <inertia
        ixx="6.80443103291066E-06"
        ixy="3.75802297681279E-06"
        ixz="-4.40765446392377E-08"
        iyy="9.48117388630703E-06"
        iyz="-1.14658632301776E-08"
        izz="1.5669330246759E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jumpbot_description/meshes/R_cam.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jumpbot_description/meshes/R_cam.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="R_motor">
    <inertial>
      <origin
        xyz="0.00416031909020936 0.00418870520018305 0.0797766145974"
        rpy="0 0 0" />
      <mass
        value="0.185473445257405" />
      <inertia
        ixx="9.30910486275977E-05"
        ixy="-5.27296883377382E-08"
        ixz="-5.01213729594481E-07"
        iyy="9.3090331510032E-05"
        iyz="-5.04633542600646E-07"
        izz="2.87226394736342E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jumpbot_description/meshes/R_motor.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jumpbot_description/meshes/R_motor.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="R_wheel">
    <inertial>
      <origin
        xyz="-2.01505478969466E-14 1.70793934550773E-13 0.0109262297782678"
        rpy="0 0 0" />
      <mass
        value="0.263999173137418" />
      <inertia
        ixx="0.000320342641420399"
        ixy="-1.61655178777516E-19"
        ixz="-6.94631119489014E-16"
        iyy="0.000320342641420399"
        iyz="6.08535656983316E-15"
        izz="0.000616988568732304" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jumpbot_description/meshes/R_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jumpbot_description/meshes/R_wheel.STL" />
      </geometry>
    </collision>
  </link>


  <link name="imu_link">
    <visual>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>


  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0 0 0.01"/>
  </joint>



</robot>